@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

:root {
  --main-dark-color: #202020;
  --lighter-dark-color: #262626;
  --main-light-color: #fcfffb;

  --main-color: #7dd851;
  --main-contrast-color: #fa965e;
}

body {
  font-family: "Patrick Hand", Arial, Helvetica, sans-serif;
  color: var(--main-dark-color);
  background-color: var(--main-light-color);
  font-size: 18px;
  /* color: #fff; */
  /* background-color: #0579ce; */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.01) 2px, transparent 2px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.01) 2px, transparent 2px),
    linear-gradient(rgba(0, 0, 0, 0.01) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.01) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; */
}

#dark-mode-toggle {
  position: fixed;
  top: 1em;
  right: 0.5em;
  font-size: 10px;
  transform: scale(60%);
}

body.dark {
  background: var(--main-dark-color);
  color: var(--main-light-color);
}

body.dark .btn.btn-primary {
  border-color: var(--main-light-color);
  color: rgba(255, 255, 255, 0.9);
  background: transparent;
}

body.dark .btn.btn-primary:hover {
  box-shadow: 4px 4px 0 0 rgba(182, 68, 157, 0.6);
}

body.dark .subject-box {
  background: var(--lighter-dark-color);
  color: var(--main-light-color);
  box-shadow: 0px 0px 10px #0c0c0c;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

body.dark .key-metric {
  color: var(--main-light-color);
}

body.dark .product-snippet {
  color: var(--main-light-color);
}

body.dark .share-button {
  background: rgba(255, 255, 255, 0.05);
  color: var(--main-light-color) !important;
}

.progress-bar.bg-success {
  background-color: var(--main-color) !important;
}

.progress-bar.bg-warning {
  background-color: var(--main-contrast-color) !important;
}

.vertical-center {
  display: flex;
  align-items: center;
}

a:not([href]) {
  text-decoration: underline;
  cursor: pointer;
}

a:not([href]).btn {
  /* color: white !important; */
  text-decoration: none;
}

ol {
  padding-left: 1em;
}

section {
  min-height: 100vh;
  padding: 3em 0;
  transition: all 0.4s;
}

h1 {
  text-transform: uppercase;
}

h1 .success {
  font-size: 62px;
  font-weight: bolder;
}

h1 .success-subtitle {
  font-size: 22px;
  font-weight: lighter;
}

h2,
h3 {
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn.btn-primary {
  border: 2px solid rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.9);
  background: var(--main-light-color);
  border-radius: 18px;
  transition: all 0.4s;
  padding: 0.7em 3.5em;
}

.btn.btn-primary:hover {
  transition: all 0.4s;
  transform: translateY(-2px);
  box-shadow: 4px 4px 0 0 rgba(119, 0, 23, 0.3);
}

.btn.btn-primary::after {
  content: " ›";
}

.subject-box {
  /* font-family: "Nunito", Arial, Helvetica, sans-serif; */
  font-size: 10px;
  text-transform: uppercase;
  background: var(--main-dark-color);
  color: rgba(255, 255, 255, 0.9);
  padding: 2em;
  margin: 3em 0;
  border-radius: 12px;
  box-shadow: 0px 0px 10px #d9d9d9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.subject-box .position-badge {
  position: absolute;
  top: -11px;
  left: -10px;
  font-size: 36px;
  transform: rotate(15deg);
}

.self-subject-box .subject-box,
body.dark .self-subject-box .subject-box {
  transform: scale(105%);
  border: 1px solid #3da488;
  box-shadow: 0px 0px 7px #3da488;
}

.subject-box-figure {
  font-weight: bolder;
}

.subject-id-wrapper {
  opacity: 0.6;
}

.subject-name {
  font-weight: bolder;
}

/* @media screen and (min-width: 768px) {
  .subject-box {
    padding: 2em;
  }
} */

.subject-box .subject-info {
  font-size: 8px;
}

.tiny-subject-box .subject,
.tiny-subject-box .luck,
.tiny-subject-box .skill,
.tiny-subject-box .of-100,
.tiny-subject-box .total {
  display: none;
}

.key-metric {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: lighter;
  opacity: 0.3;
}

.key-metric.important-metric {
  opacity: 0.9;
}

.key-metric .big-figure {
  font-size: 32px;
  font-weight: bold;
}

.subject-list {
  list-style: none;
}

.share-button {
  background: rgba(34, 34, 34, 0.05);
  border-radius: 40px;
  padding: 9px 16px;
  text-decoration: none !important;
  color: var(--main-dark-color) !important;
}

.product-snippet {
  display: flex;
  color: var(--main-dark-color);
  /* position: absolute; */
  align-items: center;
}

.product-snippet:hover {
  text-decoration: none;
}

.product-logo {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  margin-right: 8px;

  border-radius: 4px;
  transition: all 0.1s ease;
  box-shadow: inset rgba(0, 0, 0, 0.11) 0 0 0 1px;
}

.product-name {
  font-weight: bolder;
}

.product-description {
  color: #646369;
  transition: all 0.1s ease;
  margin-right: 4px;
}
