@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  font-family: "Patrick Hand", Arial, Helvetica, sans-serif;
}

.vertical-center {
  display: flex;
  align-items: center;
}

a:not([href]) {
  text-decoration: underline;
  cursor: pointer;
}

a:not([href]).btn {
  /* color: white !important; */
  text-decoration: none;
}

section {
  min-height: 100vh;
}

h1 {
  text-transform: uppercase;
}

h1 .success {
  font-size: 62px;
  font-weight: bolder;
}

h1 .success-subtitle {
  font-size: 22px;
  font-weight: lighter;
}

.btn.btn-primary {
  border: 2px solid rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.9);
  background: transparent;
  border-radius: 18px;
  transition: all 0.4s;
  padding: 0.7em 3.5em;
}

.btn.btn-primary:hover {
  transition: all 0.4s;
  transform: translateY(-2px);
  box-shadow: 4px 4px 0 0 rgba(119, 0, 23, 0.3);
}

.btn.btn-primary::after {
  content: " ›";
}

.subject-box {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.9);
  padding: 2em;
  margin: 3em 0;
  border-radius: 12px;
  box-shadow: 0px 0px 10px #d9d9d9;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.subject-box .subject-info {
  font-size: 8px;
}

.tiny-subject-box .subject,
.tiny-subject-box .luck,
.tiny-subject-box .skill,
.tiny-subject-box .of-100,
.tiny-subject-box .total {
  display: none;
}

.key-metric {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.3);
}

.key-metric.important-metric {
  color: rgba(0, 0, 0, 0.9);
}

.key-metric .big-figure {
  font-size: 32px;
  font-weight: bold;
}
